.timeline_wrapper{
    max-width: 900px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(55, 57, 66);
    padding: 20px;
    .timeline{
        height: 20px;
        position: relative;
        width: 100%;
        background: rgb(126, 126, 126);
        .element{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 40px;
            width: 85px;
            background: rgb(9, 255, 0);
        }
    }
}