<h1>Timeline</h1>
<app-watches></app-watches>
<div class="timeline_wrapper">
  <div #timeline class="timeline">
    <app-timeline-element></app-timeline-element>
    <div #progressBar class="progress_bar"></div>
    <div class="time_ranger">
      <div class="finish">{{initTime}}</div>
    </div>
  </div>
</div>
<div class="timeline_controllers">
  <div class="period">
    Duration, minutes
    <app-drop-down-list [disabled]="onCountdown" [data]="timerValues" (emitValue)="setDuration($event)"></app-drop-down-list>
    <button [disabled]="onCountdown" name="start" (click)="setTimer(+timerValues.default)"></button>
  </div>
</div>
