.element {
    .info_label {
        position: absolute;
        bottom: 25px;
        z-index: 10;
        background: rgb(212, 212, 212);
        padding: 10px;
        border-radius: 10px;
        display: none;
        width: 200px;

    }

    cursor: pointer;
    position: absolute;
    top: 0px;
    left: -100%;
    bottom: 0px;

    &:hover {
        .info_label {
            display: block;
        }
    }
}